.formContainer {
    background-color: rgb(190, 190, 190);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
    .formWrapper {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
    .title {
        color: blue;
        font-size: 30px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: blue;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }